.card
{
    width: 400px;
    height: 200px;
    margin: 10px;
    left: 130px;
}
.container
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.head
{
    align-items: center;

}
h1,h2
{
    text-align: center;
}
.section
{
    display: flex;
    background-color: rgba(63, 51, 51, 0.836);
}
body
{
    /* display: flex; */
    background-color: rgba(65, 75, 62, 0.432);
}